.rc-pagination-item-active {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.rc-pagination-item:hover {
    border-color: #007bff;
}

.rc-pagination-item:hover a, .rc-pagination-item:hover a:hover {
     color: #007bff;
}

.paginationComponent li{
    outline: none;
    font-size: 14px;
}
